
/*hamburger css code*/
body
{
  font-family: sans-serif;
  font-size: 62.5%;
  color: #eee;
  min-height: 1000px;
}

nav
{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #fff;
  z-index: 100; 
}

nav p
{
  position: relative; float: left;
  margin: 13px 1%;
  font-weight: 900;
  font-size: 2rem; 
}

#wrapper
{
  position: relative; float: left;
  width: 100%;
}

#navSpace
{
  position: relative; float: left;
  width: 100%;
  height: 60px;
  margin: 0 0 20px 0;
}

.content
{
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: 10px auto 50px auto;
  font-size: 1rem;
  line-height: 1.5;
}

.content div
{
  position: relative; float: left;
  width: ;
  margin: 0 2.5%;
}

.content div:first-of-type
{
  margin: 0 2.5% 0 5%;
}

.content div img
{
  width: 100%;
  height: auto;
}

#hamb
{
  position: relative; float: right;
  width: 40px;
  height: 40px;
  padding: .5%;
  margin: 10px 1%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

#hamb:focus{outline: none;}

#hamb:hover .rect
{
  background-color: #fcfc00;
}

p.copyWrite
{
  position: relative; float: left;
  width: 100%;
  margin: 10px 0 20px 0;
  color: #aaa;
  font-size: .8rem;
  font-style: italic;
}

#slideDown ul
{
  position: relative; float: left;
  width: 90%;
  margin: 20px 5% 20px 5%;
  font-size: 1.5rem;
  font-weight: 900;
}

#slideDown ul li
{
  position: relative; float: left;
  width: 20%;
  margin: 0 5% 0 5%;
  text-align: center;
}

#rect1, #rect2, #rect3
{
 
  position: relative; float: left;
  width: 100%;
  height: 5px;
  background-color: #fff;
  

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

#slideDown
{
  
  position: relative; float: left;
  color: #fff;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #fff;
  
  
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.hidden
{
 
  max-height: 0px;
}

.revealed
{
  
  max-height: 100px;
}

.showRect 
{
  
  display: block;
  margin: 2px 0 2px 0;
}

.hideRectX 
{
  
  display: none;
}

.topRectX 
{
  
  margin: 4px 0 4px 0;
    
  
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
           transform: rotate(45deg);
}

.bottomRectX 
{
  
  margin: -8px 0 4px 0;
    

  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
           transform: rotate(-45deg);
}
/*end of hamburger code css*/

body{
	background-image: url("http://thirteenseries.com/images/sliderPic4.jpg");
}
/*panel and flip css*/
#panel,#flip
{
padding:5px;
text-align:center;
background-color:#e5eecc;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}
#panel
{
padding:50px;
display:none;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

/*carousel css*/


.carousel {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0);
  
  width: 100%;
  min-width: 1000px;
  margin: 50px auto;
  font-size: 0;
  background: #EEE;
  padding: 8px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px #000;
  box-shadow: 0 4px 10px #000;
  
  height: 220px;
  -webkit-overflow-scrolling: touch;
  
}
.touch .carousel {
  overflow: auto;
}
.carousel:before, .carousel:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  text-align: center;
  font-size: 80px;
  line-height: 190px;
  font-family: arial;
  color: #555;
  font-weight: bold;
  pointer-events: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.carousel:before {
  content: '\2039';
  left: 0;
  text-indent: -80px;
  -webkit-box-shadow: 50px 0 20px -20px #EEE inset;
  box-shadow: 50px 0 20px -20px #EEE inset;
}
.carousel:after {
  content: '\203A';
  right: 0;
  text-indent: 50px;
  -webkit-box-shadow: -50px 0 20px -20px #EEE inset;
  box-shadow: -50px 0 20px -20px #EEE inset;
}
.carousel.right:after, .carousel.left:before {
  opacity: 1;
}
.carousel.right:after {
  right: 8px;
  text-indent: 70px;
}
.carousel.left:before {
  left: 8px;
  text-indent: -120px;
}
.carousel > a {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  color: #CCC;
  font-size: 1.5em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.carousel > a:hover {
  color: #FFF;
}
.carousel > a.prev {
  left: -20px;
}
.carousel > a.next {
  right: -20px;
}
.carousel > .indicator {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: #D82B6A;
  height: 4px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s, bottom 0.2s;
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover > .indicator {
  opacity: 1;
  bottom: -10px;
}
.carousel > .wrap {
  overflow: hidden;
  border-radius: 5px;
}
.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 200px;
}
.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
  margin: 0;
}
.carousel > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

/*end of carousel css*/

